openapi: 3.0.0
servers:
  - description: FastPix Video APIs
    url: https://api.fastpix.com/v1/
x-speakeasy-retries:
  strategy: backoff
  backoff:
    strategy: exponential
    initialInterval: 1000
    maxInterval: 10000
    multiplier: 2
  maxAttempts: 3
  retryConnectionErrors: true
  statusCodes:
    - 408
    - 429
    - 500
    - 502
    - 503
    - 504
info:
  description: >-
    FastPix provides a comprehensive set of APIs that enable developers to manage both
    **on-demand media (video/audio)** and **live streaming experiences**, with built-in
    security features through **cryptographic signing keys**. These APIs cover the full
    lifecycle of content creation, management, distribution, playback, and secure access,
    making them ideal for building scalable video-first applications.

    ### Media APIs (Video & Audio on Demand)

    The **Media APIs** allow developers to create, retrieve, update, and delete media
    files, as well as manage metadata, playback settings, and additional tracks such as
    audio or subtitles. With these endpoints, developers can:

    - Upload videos directly or create media from URLs.  
    - Manage playback permissions and configure playback IDs.  
    - Add multilingual audio or subtitle tracks for global audiences.  
    - Build robust video-on-demand (VOD) and audio-on-demand (AOD) libraries.  

    **Use case scenarios**  
    - **Video-on-Demand Platforms:** Manage large content libraries for streaming services.  
    - **E-Learning Solutions:** Upload and organize lecture videos, metadata, and playback settings.  
    - **Multilingual Content Delivery:** Add multiple language tracks or subtitles to serve global users.  

    ### Live Stream APIs

    The **Live Stream APIs** simplify the process of creating, managing, and distributing
    live content. Developers can initiate broadcasts, configure stream settings, and extend
    streams to external platforms through simulcasting. These endpoints also support
    real-time interaction and customization of live events.

    - Start and manage live broadcasts programmatically.  
    - Control stream metadata, privacy, and playback options.  
    - Simulcast to platforms like YouTube, Facebook, or Twitch.  
    - Update stream details and manage live playback IDs in real time.  

    **Use case scenarios**  
    - **Event Broadcasting:** Enable organizers to set up live streams for conferences, concerts, or webinars.  
    - **Creator Platforms:** Provide streamers with tools for broadcasting gameplay, tutorials, or vlogs with simulcasting support.  
    - **Corporate Streaming:** Deliver secure internal town halls or meetings with privacy and playback controls.  
    
    ### Video Data APIs
    
    The **Video Data APIs** Provide insights into viewer interactions, performance metrics, and playback errors to optimize content delivery and user experience.
    
     - Track video views, unique viewers, and engagement metrics
     - Identify top-performing content and usage patterns
     - Break down data by browser, device, or geography
     - Detect playback errors and performance issues
     - Enable data-driven content strategy decisions
     
     **Use case scenarios** 
     - Analytics Dashboards: Monitor performance across content libraries
     - Quality Monitoring: Diagnose and resolve playback issues
     - Content Strategy Optimization: Identify high-value content
     - User Behavior Insights: Understand audience interactions

    ### Signing Keys

    FastPix also provides endpoints for managing **cryptographic signing keys**, which are
    essential for securely signing and verifying tokens, such as JSON Web Tokens (JWTs).
    These keys are critical for authenticating and authorizing API requests, as well as for
    protecting access to media assets.

    - **Private key:** Used to create digital signatures (kept secret).  
    - **Public key:** Used to verify digital signatures (shared for verification).  

    By rotating and managing signing keys regularly, developers can maintain strong
    security practices and prevent unauthorized access.  

    **Use case scenarios**  
    - **Token-based authentication:** Validate user access to premium or subscription-based content.  
    - **Key rotation:** Regularly rotate keys to reduce risk of compromise.  
    - **Protect intellectual property:** Prevent unauthorized distribution of valuable media assets.  
    - **Control usage:** Restrict access to specific users, groups, or contexts.  
    - **Prevent tampering:** Ensure requested assets have not been modified.  
    - **Time-bound access:** Enable signed URLs with expiration for controlled viewing windows.  
  version: 1.0.0
  title: FASTPIX API'S
  contact:
    email: support@fastpix.com
tags:
  - name: on-demand
    description: On-demand APIs
  - name: livestream
    description: Livestream APIs
  - name: Signing-keys
    description: Operations involving signing keys
  - name: views
    description: Operations involving views
  - name: dimensions
    description: Operations involving dimensions
  - name: metrics
    description: Operations involving metrics
  - name: errors
    description: Operations involving errors
paths:
  /on-demand:
    post:
      security:
        - BasicAuth: []
      tags:
        - Input video
      summary: Create media from URL
      description: |
        This endpoint allows developers or users to create a new video or audio media in FastPix using a publicly accessible URL. FastPix will fetch the media from the provided URL, process it, and store it on the platform for use. 



        #### Public URL requirement:


          The provided URL must be publicly accessible and should point to a video stored in one of the following supported formats: .m4v, .ogv, .mpeg, .mov, .3gp, .f4v, .rm, .ts, .wtv, .avi, .mp4, .wmv, .webm, .mts, .vob, .mxf, asf, m2ts 



        #### Supported storage types:

        The URL can originate from various cloud storage services or content delivery networks (CDNs) such as: 


        * **Amazon S3:** URLs from Amazon's Simple Storage Service. 

        * **Google Cloud Storage:** URLs from Google Cloud's storage solution. 

        * **Azure Blob Storage:** URLs from Microsoft's Azure storage. 

        * **Public CDNs:** URLs from public content delivery networks that host video files. 

        Upon successful creation, the API returns an `id` that should be retained for future operations related to this media. 

        #### How it works


        1. Send a POST request to this endpoint with the media URL (typically a video or audio file) and optional media settings. 

        2. FastPix uploads the video from the provided URL to its storage. 

        3. Receive a response containing the unique id for the newly created media item. 

        4. Use the id in subsequent API calls, such as checking the status of the media with the <a href="https://fastpix.com/docs/video-on-demand-api/manage-videos/get-media">Get Media by ID</a> endpoint to determine when the media is ready for playback. 

        FastPix uses webhooks to tell your application about things that happen in the background, outside of the API regular request flow. For instance, once the media file is created (but not yet processed or encoded), we'll shoot a `POST` message to the address you give us with the webhook event <a href="https://fastpix.com/docs/vod-events/media-events#videomediacreated">video.media.created</a>. 


        Once processing is done you can look for the events <a href="https://fastpix.com/docs/vod-events/media-events#/videomediaready">video.media.ready<a/> and <a href="https://fastpix.com/docs/vod-events/media-events#videomediafailed">video.media.failed</a> to see the status of your new media file.

        Related guide: <a href="https://fastpix.com/docs/upload-videos/upload-videos-from-a-url">Upload videos from URL</a>
      operationId: create-media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMediaRequest"
            example:
              inputs:
                - type: video
                  url: https://static.fastpix.com/sample.mp4
              metadata:
                key1: value1
              accessPolicy: public
              maxResolution: 1080p
        description: Request body for uploading a video media from URL
      responses:
        "201":
          description: Media is created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMediaSuccessResponse"
                example:
                  success: true
                  data:
                    id: ffc4e8dd-544c-4ade-bdf1-ac31cb4e6b8f
                    trial: false
                    status: Created
                    createdAt: "2025-01-09T06:39:13.759544Z"
                    updatedAt: "2025-01-09T06:39:13.759588Z"
                    playbackIds:
                      - id: df5be71b-96dc-4edd-bdba-dcc43ab60309
                        accessPolicy: public
                        accessRestrictions:
                          domains:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                          userAgents:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                    metadata:
                      key1: value1
                    sourceAccess: false
                    maxResolution: 1080p
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"

    get:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Get list of all media
      description: |
        This endpoint returns a list of all media files uploaded to FastPix within a specific workspace. Each media entry contains data such as the media `id`, `createdAt`, `status`, `type` and more. It allows you to retrieve an overview of your media assets, making it easier to manage and review them. 


        #### How it works

        Use the access token and secret key related to the workspace in the request header. When called, the API provides a paginated response containing all the media items in that specific workspace. This is helpful for retrieving a large volume of media and managing content in bulk. 



        #### Example
        You're managing a video platform and need to check all the uploaded media in your library to ensure no outdated or low-quality content is being served. Using this endpoint, you can retrieve a complete list of media, allowing you to filter, sort, or update items as needed.
      operationId: list-media
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 20
          description: Limit specifies the maximum number of items to display per page.
        - in: query
          name: offset
          schema:
            type: integer
            default: 1
            example: 1
          description: Offset determines the starting point for data retrieval within a paginated list.
        - in: query
          name: orderBy
          schema:
            type: string
            example: desc
            default: desc
            $ref: '#/components/schemas/SortOrder'
      responses:
        "200":
          description: List of video media
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    description: Displays the result of the request.
                    type: array
                    items:
                      $ref: "#/components/schemas/Media"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                example:
                  success: true
                  data:
                    - thumbnail: https://images.fastpix.com/837f028b-dcaf-4c23-b368-3748641f74ac/thumbnail.png
                      id: cfeec1a3-6cbd-40df-a425-2ed7f8f72ced
                      workspaceId: 6dc2b4e0-0615-42fd-a580-1f4aad932dfe
                      metadata:
                        key1: value1
                      maxResolution: 1080p
                      sourceResolution: 1080p
                      status: Ready
                      sourceAccess: false
                      playbackIds:
                        - id: 837f028b-dcaf-4c23-b368-3748641f74ac
                          accessPolicy: public
                          accessRestrictions:
                            domains:
                              defaultPolicy: allow
                              allow: []
                              deny: []
                            userAgents:
                              defaultPolicy: allow
                              allow: []
                              deny: []
                      tracks:
                        - id: f301a2a1-b40d-40fa-b419-4d0cd92a62f8
                          type: video
                          width: 1920
                          height: 1080
                          frameRate: 30/1
                          status: Ready
                          closedCaptions: false
                      isAudioOnly: false
                      subtitleAvailable: true
                      duration: "00:00:10"
                      frameRate: 30/1
                      aspectRatio: "16:9"
                      createdAt: "2025-01-09T06:44:44.617138Z"
                      updatedAt: "2025-01-09T06:44:53.742648Z"
                  pagination:
                    totalRecords: 100
                    currentOffset: 1
                    offsetCount: 10
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "422":
          description: Get video media payload validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{livestreamId}/live-clips:
    get:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Get all clips of a live stream
      description: |
        Retrieves a list of all media clips generated from a specific livestream. Each media entry includes metadata such as the clip media IDs, and other relevant details. A media clip is a segmented portion of an original media file (source live stream). Clips are often created for various purposes such as previews, highlights, or customized edits.
        #### How it works
        To use this endpoint, provide the `livestreamId` as a parameter. The API then returns a paginated list of clipped media items created from that livestream. Pagination ensures optimal performance and usability when dealing with a large number of media files, making it easier to organize and manage content in bulk.

        Related guide: <a href="https://fastpix.com/docs/edit-and-transform-live-stream/clip-moments-from-a-live-stream">Instant live clipping</a>
      operationId: list-live-clips
      parameters:
        - in: path
          name: livestreamId
          required: true
          schema:
            type: string
            format: uuid
            example: b6f71268143f70c798a7851a0a92dcbf
          description: The stream Id is unique identifier assigned to the live stream.
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
            example: 20
          description: Limit specifies the maximum number of items to display per page.
        - in: query
          name: offset
          schema:
            type: integer
            default: 1
            example: 1
          description: Offset determines the starting point for data retrieval within a paginated list.
        - in: query
          name: orderBy
          schema:
            type: string
            example: desc
            default: desc
            $ref: '#/components/schemas/SortOrder'
      responses:
        "200":
          description: List of video media
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    description: Displays the result of the request.
                    type: array
                    items:
                      $ref: "#/components/schemas/Media"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                example:
                  success: true
                  data:
                    - thumbnail: https://images.fastpix.com/837f028b-dcaf-4c23-b368-3748641f74ac/thumbnail.png
                      id: cfeec1a3-6cbd-40df-a425-2ed7f8f72ced
                      workspaceId: 6dc2b4e0-0615-42fd-a580-1f4aad932dfe
                      metadata:
                        key1: value1
                      maxResolution: 1080p
                      sourceResolution: 1080p
                      status: Ready
                      sourceAccess: false
                      playbackIds:
                        - id: 837f028b-dcaf-4c23-b368-3748641f74ac
                          accessPolicy: public
                          accessRestrictions:
                            domains:
                              defaultPolicy: allow
                              allow: []
                              deny: []
                            userAgents:
                              defaultPolicy: allow
                              allow: []
                              deny: []
                      tracks:
                        - id: f301a2a1-b40d-40fa-b419-4d0cd92a62f8
                          type: video
                          width: 1920
                          height: 1080
                          frameRate: 30/1
                          status: Ready
                          closedCaptions: false
                      isAudioOnly: false
                      subtitleAvailable: true
                      duration: "00:00:10"
                      frameRate: 30/1
                      aspectRatio: "16:9"
                      createdAt: "2025-01-09T06:44:44.617138Z"
                      updatedAt: "2025-01-09T06:44:53.742648Z"
                  pagination:
                    totalRecords: 100
                    currentOffset: 1
                    offsetCount: 10
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "422":
          description: Get video media payload validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}:
    get:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Get a media by ID
      description: |
        By calling this endpoint, you can retrieve detailed information about a specific media item, including its current `status` and a `playbackId`. This is particularly useful for retrieving specific media details when managing large content libraries. 



        #### How it works 



        1. Make a GET request to this endpoint, using the `<mediaId>` received after uploading the media file. 


        2. Receive a response that includes details about the media: 

        * `status` Indicates whether the media is still `preparing` or has transitioned to `ready`.  

        * The `playbackId` is a unique identifier that allows you to stream the media once it is `ready`. You can construct the stream URL in this format: `https://stream.fastpix.com/<playbackId>.m3u8`


        #### Example

        Suppose your platform provides users with an interface where they can manage their uploaded content. A user requests detailed information about a specific video to see if it has been fully processed and is available for playback. Using the media ID, you can fetch the information from FastPix and display it in the user's dashboard.
      operationId: get-media
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: The Media Id is assigned a universal unique identifier, which can contain a maximum of 255 characters.
      responses:
        "200":
          description: Get a video media by id
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/Media"
                example:
                  success: true
                  data:
                    thumbnail: https://images.fastpix.com/837f028b-dcaf-4c23-b368-3748641f74ac/thumbnail.png
                    id: cfeec1a3-6cbd-40df-a425-2ed7f8f72ced
                    workspaceId: 6dc2b4e0-0615-42fd-a580-1f4aad932dfe
                    metadata:
                      key1: value1
                    maxResolution: 1080p
                    sourceResolution: 1080p
                    status: Ready
                    sourceAccess: false
                    playbackIds:
                      - id: 837f028b-dcaf-4c23-b368-3748641f74ac
                        accessPolicy: public
                        accessRestrictions:
                          domains:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                          userAgents:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                    tracks:
                      - id: f301a2a1-b40d-40fa-b419-4d0cd92a62f8
                        type: video
                        width: 1920
                        height: 1080
                        frameRate: 30/1
                        closedCaptions: false
                    isAudioOnly: false
                    subtitleAvailable: true
                    duration: "00:00:10"
                    frameRate: 30/1
                    aspectRatio: "16:9"
                    createdAt: "2025-01-09T06:44:44.617138Z"
                    updatedAt: "2025-01-09T06:44:53.742648Z"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
    patch:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Update a media by ID
      description: |
        This endpoint allows you to update specific parameters of an existing media file. You can modify the key-value pairs of the metadata that were provided in the payload during the creation of media from a URL or when uploading the media directly from device. 


        #### How it works

        1. Make a PATCH request to this endpoint, replacing `<mediaId>` with the unique ID (`uploadId` or `id`) of the media received after uploading to FastPix. 

        2. Include the updated parameters in the request body. 

        3. Receive a response containing the updated media data, confirming the changes made. 

        Once you have made the update request, you can also look for the webhook event <a href="https://fastpix.com/docs/vod-events/media-events#videomediaupdated">video.media.updated</a> to notify your system about update status. 

        #### Example
        Imagine a scenario where a user uploads a video and later realizes they need to change the title, add a new description or tags. You can use this endpoint to update the media metadata without having to re-upload the entire video.
      operationId: updated-media
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                    maxLength: 255
                  maxProperties: 10
                  example:
                    metadata:
                      user: fastpix_admin
      responses:
        "200":
          description: Media details updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/Media"
                example:
                  success: true
                  data:
                    thumbnail: https://images.fastpix.com/837f028b-dcaf-4c23-b368-3748641f74ac/thumbnail.png
                    id: cfeec1a3-6cbd-40df-a425-2ed7f8f72ced
                    workspaceId: 6dc2b4e0-0615-42fd-a580-1f4aad932dfe
                    metadata:
                      user: fastpix_admin
                    maxResolution: 1080p
                    sourceResolution: 1080p
                    status: Ready
                    sourceAccess: false
                    playbackIds:
                      - id: 837f028b-dcaf-4c23-b368-3748641f74ac
                        accessPolicy: public
                        accessRestrictions:
                          domains:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                          userAgents:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                    tracks:
                      - id: f301a2a1-b40d-40fa-b419-4d0cd92a62f8
                        type: video
                        width: 1920
                        height: 1080
                        frameRate: 30/1
                        closedCaptions: false
                    isAudioOnly: false
                    subtitleAvailable: true
                    duration: "00:00:10"
                    frameRate: 30/1
                    aspectRatio: "16:9"
                    createdAt: "2025-01-09T06:44:44.617138Z"
                    updatedAt: "2025-01-09T06:44:53.742648Z"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
    delete:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Delete a media by ID
      operationId: delete-media
      description: |
        This endpoint allows you to permanently delete a a specific video or audio media file along with all associated data. If you wish to remove a media from FastPix storage, use this endpoint with the `mediaId` (either `uploadId` or `id`) received during the media's creation or upload. 


        #### How it works


        1. Make a DELETE request to this endpoint, replacing `<mediaId>` with the `uploadId` or the `id` of the media you want to delete. 

        2. Since this action is irreversible, ensure that you no longer need the media before proceeding. Once deleted, the media cannot be retrieved or played back. 

        3. Webhook event to look for: <a href="https://fastpix.com/docs/vod-events/media-events#videomediadeleted">video.media.deleted</a>

        #### Example
        A user on a video-sharing platform decides to remove an old video from their profile, or suppose you're running a content moderation system, and one of the videos uploaded by a user violates your platform's policies. Using this endpoint, the media is permanently deleted from your library, ensuring it's no longer accessible or viewable by other users.
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      responses:
        "200":
          description: Delete a video media
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                example:
                  success: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/tracks:
    post:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Add audio / subtitle track
      description: |
        This endpoint allows you to add an audio or subtitle track to an existing media file using its `mediaId`. You need to provide the track `url` along with its `type` (audio or subtitle), `languageName` and `languageCode` in the request payload.


        #### How it works

        1. Send a POST request to this endpoint, replacing `{mediaId}` with the media ID (`uploadId` or `id`).

        2. Provide the necessary details in the request body.

        3. Receive a response containing a unique track ID and the details of the newly added track.


        #### Webhook events

        1. After successfully adding a track, your system will receive the webhook event <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediatrackcreated">video.media.track.created</a>.

        2. Once the track is processed and ready, you will receive the webhook event <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediatrackready">video.media.track.ready</a>.

        3. Finally, an update event <a href="https://fastpix.com/docs/vod-events/media-events#videomediaupdated">video.media.updated</a> will notify your system about the media's updated status.


        #### Example
        Suppose you have a video uploaded to the FastPix platform, and you want to add an Italian audio track to it. By calling this API, you can attach an external audio file (https://static.fastpix.com/music-1.mp3) to the media file. Similarly, if you need to add subtitles in different languages, you can specify type: `subtitle` with the corresponding subtitle `url`, `languageCode` and `languageName`.

        Related guides: <a href="https://fastpix.com/docs/manage-audio-and-subtitle-tracks/add-subtitles-to-a-video">Add own subtitle tracks</a>, <a href="https://fastpix.com/docs/manage-audio-and-subtitle-tracks/add-audio-to-a-video">Add own audio tracks</a>
      operationId: Add-media-track
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tracks:
                  $ref: "#/components/schemas/AddTrackRequest"
            example:
              tracks:
                url: https://static.fastpix.com/music-1.mp3
                type: audio
                languageCode: it
                languageName: Italian
      responses:
        "201":
          description: Media details updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/AddTrackResponse"
                example:
                  success: true
                  data:
                    id: ace60fc7-e876-4fc6-b9d9-c33fa242f84b
                    type: audio
                    url: https://static.fastpix.com/music-1.mp3
                    languageCode: it
                    languageName: Italian
        "400":
          description: Duplicate language name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackDuplicateRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/upload/{uploadId}/cancel:
    put:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Cancel ongoing upload
      operationId: cancel-upload
      description: |
        This endpoint allows you to cancel ongoing upload by its `uploadId`. Once cancelled, the upload will be marked as cancelled. Use this if a user aborts an upload or if you want to programmatically stop an in-progress upload.

        #### How it works

        1. Make a PUT request to this endpoint, replacing `{uploadId}` with the unique upload ID received after starting the upload.
        2. The response will confirm the cancellation and provide the status of the upload.

        #### Webhook Events

        Once the upload is cancelled, you will receive the webhook event <a href="https://fastpix.com/docs/vod-events/media-events#videomediauploadcancelled-event">video.media.upload.cancelled</a>.

        #### Example

        Suppose a user starts uploading a large video file but decides to cancel before completion. By calling this API, you can immediately stop the upload and free up resources.
      parameters:
        - in: path
          name: uploadId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When uploading the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      responses:
        "200":
          description: Upload cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/MediaCancelResponse"
                example:
                  success: true
                  data:
                    uploadId: beff5537-de85-42e1-a673-2a405cd94177
                    trial: false
                    status: cancelled
                    url: https://storage.googleapis.com/uploads-fp-asia/338acdeb-29d4-438b-a40c-1d4105134462/26b1a17d-4b0b-44f8-96b8-cc33cabc962e?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=fp-prod@fastpix-vms.iam.gserviceaccount.com/20250716/auto/storage/goog4_request&X-Goog-Date=20250716T132746Z&X-Goog-Expires=14400&X-Goog-SignedHeaders=host;x-goog-resumable&X-Goog-Signature=4eb42c38711d915f2b6792edacc48ed79bde9f02f829a084dfe09830e6d0e5ec50f2f3157964ed7e32d44b02e3967bf2e0ffeb7ca9335d65ae15b3ac33c7cb40ec710939c4a12202b749bdb4e3f7af8aba2746b41a642130280a372e4615e9773cea98f231388c9fde385f96142ffa901a900949e305c7d5b4c82590c3493aaf60ac5424d4f112fbf4120b7891adf9a7e17968328cd1128fe7b6f55447d15b562624a8e7539824d10e808a729906ac6fe8b2f561424f3e0db14eecad6e21f4f18513519a975c2c50e8304a5a723723e32aa9ac659d9b9875a85f29f007d57bb69c49b5ff9099e5a9834db7199e73ca01cf0dd85cae599203d3180fa27cfdd08d&upload_id=ABgVH88kcXwWvPOlER2G4UvAnrdQw80h_nfjMqwL-jFe6wpLvfBifpBtlnvPtN2BQQTOWggTpKAQ6uGHIJLDp1LHo2g1eePyfjqNi3oRiwxOBU8
                    timeout: 14400
                    corsOrigin: "*"
                    maxResolution: 1080p
                    accessPolicy: public
                    metadata:
                      key1: value1
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Upload not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/tracks/{trackId}:
    patch:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Update audio / subtitle track
      description: |
        This endpoint allows you to update an existing audio or subtitle track associated with a media file. When updating a track, you must provide the new track `url`, `languageName`, and `languageCode`, ensuring all three parameters are included in the request.


        #### How it works

        1. Send a PATCH request to this endpoint, replacing `{mediaId}` with the media ID, and `{trackId}` with the ID of the track you want to update.

        2. Provide the necessary details in the request body.

        3. Receive a response confirming the track update.

        #### Webhook Events

        After updating a track, your system will receive webhook notifications:

        1. After successfully updating a track, your system will receive the webhook event <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediatrackupdated">video.media.track.updated</a>.

        2. Once the new track is processed and ready, you will receive the webhook event <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediatrackready">video.media.track.ready</a>.

        3. Once the media file is updated with the new track details, a <a href="https://fastpix.com/docs/vod-events/media-events#videomediaupdated">video.media.updated</a> event will be triggered.


        #### Example
        Suppose you previously added a French subtitle track to a video but now need to update it with a different file. By calling this API, you can replace the existing subtitle file (.vtt) with a new one while keeping the same track ID. This is useful when:

          - The original track file has errors and needs correction.
          - You want to improve subtitle translations or replace an audio track with a better-quality version.
          
        Related guides: <a href="https://fastpix.com/docs/manage-audio-and-subtitle-tracks/add-subtitles-to-a-video">Add own subtitle tracks</a>, <a href="https://fastpix.com/docs/manage-audio-and-subtitle-tracks/add-audio-to-a-video">Add own audio tracks</a>
      operationId: update-media-track
      parameters:
        - in: path
          name: trackId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTrackRequest"
            example:
              url: http://commondatastorage.googleapis.com/codeskulptor-assets/sounddogs/thrust.vtt
              languageCode: fr
              languageName: french
      responses:
        "200":
          description: Media details updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/UpdateTrackResponse"
                example:
                  success: true
                  data:
                    id: 2452ca23-b7ed-4daf-babf-841996b0100e
                    type: subtitle
                    url: http://commondatastorage.googleapis.com/codeskulptor-assets/sounddogs/thrust.vtt
                    languageCode: fr
                    languageName: french
        "400":
          description: Duplicate language name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackDuplicateRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
    delete:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Delete audio / subtitle track
      operationId: delete-media-track
      description: |
        This endpoint allows you to delete an existing audio or subtitle track from a media file. Once deleted, the track will no longer be available for playback.


        #### How it works


        1. Send a DELETE request to this endpoint, replacing `{mediaId}` with the media ID, and `{trackId}` with the ID of the track you want to remove.

        2. The track will be deleted from the media file, and you will receive a confirmation response.

        #### Webhook events

        1. After successfully deleting a track, your system will receive the webhook event **video.media.track.deleted**.

        2. Once the media file is updated to reflect the track removal, a <a href="https://fastpix.com/docs/vod-events/media-events#videomediaupdated">video.media.updated</a> event will be triggered.


        #### Example
        Suppose you uploaded an audio track in Italian for a video but later realize it's incorrect or no longer needed. By calling this API, you can remove the specific track while keeping the rest of the media file unchanged. This is useful when:

          - A track was mistakenly added and needs to be removed.
          - The content owner requests the removal of a specific subtitle or audio track.
          - A new version of the track will be uploaded to replace the existing one.
          
        Related guides: <a href="https://fastpix.com/docs/manage-audio-and-subtitle-tracks/add-subtitles-to-a-video">Add own subtitle tracks</a>, <a href="https://fastpix.com/docs/manage-audio-and-subtitle-tracks/add-audio-to-a-video">Add own audio tracks</a>
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
        - in: path
          name: trackId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      responses:
        "200":
          description: Delete a video media
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                example:
                  success: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/tracks/{trackId}/generate-subtitles:
    post:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Generate track subtitle
      description: |
        This endpoint allows you to generate subtitles for an existing audio track in a media file. By calling this API, you can generate subtitles automatically using speech recognition

        #### How it works

        1. Send a `POST` request to this endpoint, replacing `{mediaId}` with the media ID and `{trackId}` with the track ID.

        2. Provide the necessary details in the request body, including the languageName and languageCode.

        3. Receive a response containing a unique subtitle track ID and its details.

        #### Webhook Events

        1. Once the subtitle track is generated and ready, you will receive the webhook event <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediasubtitlegeneratedready">video.media.subtitle.generated.ready</a>.

        2. Finally, an update event <a href="https://fastpix.com/docs/vod-events/media-events#videomediaupdated">video.media.updated</a> will notify your system about the media's updated status.

        </br> Related guide: <a href="https://fastpix.com/docs/manage-audio-and-subtitle-tracks/generate-subtitles-automatically">Add auto-generated subtitles</a>
      operationId: Generate-subtitle-track
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: A universally unique identifier (UUID) assigned to the media by FastPix.
        - in: path
          name: trackId
          required: true
          schema:
            type: string
            format: uuid
            example: d46f5df9-1a8f-4f0a-b56e-9f5b5d5b9e21
          description: A universally unique identifier (UUID) assigned to the specific track for which subtitles should be generated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackSubtitlesGenerateRequest"
            example:
              languageCode: it
              languageName: Italian
      responses:
        "200":
          description: Media details updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/GenerateTrackResponse"
                example:
                  success: true
                  data:
                    id: ace60fc7-e876-4fc6-b9d9-c33fa242f84b
                    type: subtitle
                    languageCode: it
                    languageName: Italian
        "400":
          description: Duplicate language name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackDuplicateRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/summary:
    patch:
      security:
        - BasicAuth: []
      tags:
        - In-video AI features
      summary: Generate video summary
      description: |
        This endpoint allows you to generate the summary for an existing media.

        #### How it works
        1. Send a PATCH request to this endpoint, replacing `<mediaId>` with the unique ID of the media for which you wish to generate a summary.
        2. Include the `generate` parameter in the request body.
        3. Include the `summaryLength` parameter, specify the desired length of the summary in words (e.g., 120 words), this determines how concise or detailed the summary will be. If no specific summary length is provided, the default length will be 100 words. 
        4. The response will include the updated media data and confirmation of the changes applied.

        You can use the <a href="https://fastpix.com/docs/ai-events/in-video-ai-events#videomediaaisummaryready">video.mediaAI.summary.ready</a> webhook event to track and notify about the summary generation.





        **Use case**: This is particularly useful when a user uploads a video and later chooses to generate a summary without needing to re-upload the video.

        Related guide: <a href="https://fastpix.com/docs/video-intelligence/generate-a-video-summary">Video summary</a>
      operationId: update-media-summary
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: |
            The unique identifier assigned to the media when created. The value should be a valid UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                generate:
                  type: boolean
                  example: true
                  description: |
                    Enable or disable the summary feature for the media. Set to true to enable summary or false to disable.
                summaryLength:
                  type: integer
                  example: 100
                  default: 100
                  maximum: 250
                  minimum: 30
                  description: |
                    Specifies the desired word count for the generated summary. 
                    - The value must be between **30** and **250** words.
              required:
                - generate
              example:
                generate: true
                summaryLength: 100
      responses:
        "200":
          description: Media details updated successfully with the generated summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates if the request was successful or not.
                  data:
                    $ref: "#/components/schemas/SummaryResponse"
                example:
                  success: true
                  data:
                    mediaId: c695988b-ff84-42ae-bb21-10f284fedb0e
                    isSummaryEnabled: true
        "401":
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden - User does not have permission to update the media
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media not found - Invalid media ID or media not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Unprocessable Entity - Payload validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/chapters:
    patch:
      security:
        - BasicAuth: []
      tags:
        - In-video AI features
      summary: Generate video chapters
      description: |
        This endpoint enables you to generate chapters for an existing media file.

        #### How it works
        1. Make a `PATCH` request to this endpoint, replacing `<mediaId>` with the ID of the media for which you want to generate chapters.
        2. Include the `chapters` parameter in the request body to enable.
        3. The response will contain the updated media data, confirming the changes made.

        You can use the <a href="https://fastpix.com/docs/ai-events/in-video-ai-events#videomediaaichaptersready">video.mediaAI.chapters.ready</a> webhook event to track and notify about the chapters generation.

        **Use case:** This is particularly useful when a user uploads a video and later decides to enable chapters without re-uploading the entire video.

        Related guide: <a href="https://fastpix.com/docs/video-intelligence/generate-video-chapters">Video chapters</a>
      operationId: update-media-chapters
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: |
            The unique identifier assigned to the media when created. The value should be a valid UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chapters:
                  type: boolean
                  example: true
                  description: |
                    Enable or disable the chapters feature for the media. Set to `true` to enable chapters or `false` to disable.
              required:
                - chapters
              example:
                chapters: true
      responses:
        "200":
          description: Media details updated successfully with the chapters feature enabled or disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates if the request was successful or not.
                  data:
                    $ref: "#/components/schemas/ChaptersResponse"
                example:
                  success: true
                  data:
                    mediaId: c695988b-ff84-42ae-bb21-10f284fedb0e
                    isChaptersEnabled: true
        "401":
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden - User does not have permission to update the media
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media not found - Invalid media ID or media not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Unprocessable Entity - Payload validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/named-entities:
    patch:
      security:
        - BasicAuth: []
      tags:
        - In-video AI features
      summary: Generate named entities
      description: |
        This endpoint allows you to extract named entities from an existing media.
        Named Entity Recognition (NER) is a fundamental natural language processing (NLP) technique that identifies and classifies key information (entities) in text into predefined categories. For instance:

          - Organizations (e.g., "Microsoft", "United Nations")
          - Locations (e.g., "Paris", "Mount Everest")
          - Product names (e.g., "iPhone", "Coca-Cola")

        #### How it works
        1. Make a PATCH request to this endpoint, replacing `<mediaId>` with the ID of the media you want to extract named-entities.
        2. Include the `namedEntities` parameter in the request body to enable.
        3. Receive a response containing the updated media data, confirming the changes made.

        You can use the <a href="https://fastpix.com/docs/ai-events/in-video-ai-events#videomediaainamedentitiesready">video.mediaAI.named-entities.ready</a> webhook event to track and notify about the named entities extraction.

        **Use case:** If a user uploads a video and later decides to enable named entity extraction without re-uploading the entire video.

        Related guide: <a href="https://fastpix.com/docs/video-intelligence/extract-named-entities-from-a-video">Named entities</a>
      operationId: update-media-named-entities
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 0cec3c88-c69d-4232-9b96-f0976327fa2d
          description: |
            The unique identifier assigned to the media when created. The value should be a valid UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                namedEntities:
                  type: boolean
                  example: true
                  description: |
                    Enable or disable named entity extraction. Set to `true` to enable or `false` to disable.
              required:
                - namedEntities
              example:
                namedEntities: true
      responses:
        "200":
          description: Media details updated successfully with the named entity extraction feature enabled or disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates if the request was successful or not.
                  data:
                    $ref: "#/components/schemas/NamedEntitiesResponse"
                example:
                  success: true
                  data:
                    mediaId: c695988b-ff84-42ae-bb21-10f284fedb0e
                    isNamedEntitiesEnabled: true
        "401":
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden - User does not have permission to update the media
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media not found - Invalid media ID or media not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Unprocessable Entity - Payload validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/moderation:
    patch:
      security:
        - BasicAuth: []
      tags:
        - In-video AI features
      summary: Enable video moderation
      description: |
        This endpoint enables moderation features, such as NSFW and profanity filtering, to detect inappropriate content in existing media.

        #### How it works
        1. Make a PATCH request to this endpoint, replacing `<mediaId>` with the ID of the media you want to update.
        2. Include the `moderation` object and provide the requried `type` parameter in the request body to specify the media type (e.g., video/audio/av).
        4. The response will contain the updated media data, confirming the changes made.

        You can use the <a href="https://fastpix.com/docs/ai-events/in-video-ai-events#videomediaaimoderationready">video.mediaAI.moderation.ready</a> webhook event to track and notify about the detected moderation results.

        **Use case:** This is particularly useful when a user uploads a video and later decides to enable moderation detection without the need to re-upload it.

        Related guide: <a href="https://fastpix.com/docs/video-intelligence/detect-nsfw-content-and-profanity">Moderate NSFW & Profanity</a>
      operationId: update-media-moderation
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 0cec3c88-c69d-4232-9b96-f0976327fa2d
          description: |
            The unique identifier assigned to the media when created. The value should be a valid UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moderation:
                  type: object
                  properties:
                    type:
                      $ref: "#/components/schemas/MediaType"
                      description: |
                        Defines the type of input. Possible values include video, audio, av.
              example:
                moderation:
                  type: video
      responses:
        "200":
          description: Media details updated successfully with the named entity extraction feature enabled or disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Indicates if the request was successful or not.
                  data:
                    $ref: "#/components/schemas/ModerationResponse"
                example:
                  success: true
                  data:
                    mediaId: c695988b-ff84-42ae-bb21-10f284fedb0e
                    isModerationEnabled: true
        "401":
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden - User does not have permission to update the media
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media not found - Invalid media ID or media not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Unprocessable Entity - Payload validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/source-access:
    patch:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Update the source access of a media by ID
      description: |
        This endpoint allows you to update the `sourceAccess` setting of an existing media file. The `sourceAccess` parameter determines whether the original media file is accessible or restricted. Setting this to `true` enables access to the media source, while setting it to `false` restricts access. 

        #### How it works

        1. Make a `PATCH` request to this endpoint, replacing `{mediaId}` with the ID of the media you want to update.

        2. Include the updated `sourceAccess` parameter in the request body.

        3. Receive a response confirming the update to the media's source access status.
        4. Webhook events: <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediasourceready">video.media.source.ready</a>, <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediasourcedeleted">video.media.source.deleted</a>
      operationId: updated-source-access
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: |
            When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceAccess:
                  type: boolean
                  example: true
                  description: The sourceAccess parameter determines whether the original media file is accessible. Set to true to enable access or false to restrict it.
              example:
                sourceAccess: true
      responses:
        "200":
          description: Media details updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/Media"
                example:
                  success: true
                  data:
                    thumbnail: https://venus-images.fastpix.dev/cf41c9f7-ece3-4efe-8d31-c6e000dc422b/thumbnail.png
                    id: eb56a668-0354-40c2-9233-f3197e1baabd
                    workspaceId: c788be40-91a5-4d2d-abf7-47398a6276a1
                    metadata:
                      key1: value1
                    maxResolution: 1080p
                    sourceResolution: 1080p
                    status: ready
                    sourceAccess: true
                    playbackIds:
                      - id: cf41c9f7-ece3-4efe-8d31-c6e000dc422b
                        accessPolicy: public
                        accessRestrictions:
                          domains:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                          userAgents:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                    tracks:
                      - id: 344fd5bc-82af-4d11-bc1c-785d9e6f9aef
                        type: video
                        width: 1920
                        height: 1080
                        frameRate: 30/1
                        closedCaptions: false
                    duration: "00:00:10"
                    frameRate: 30/1
                    aspectRatio: "16:9"
                    createdAt: "2024-12-06T03:47:26.489888Z"
                    updatedAt: "2024-12-06T03:47:47.593400Z"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/update-mp4Support:
    patch:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Update the mp4Support of a media by ID
      description: |
        This endpoint allows you to update the `mp4Support` setting of an existing media file using its media ID. You can specify the MP4 support level, such as `none`, `capped_4k`, `audioOnly`, or a combination of `audioOnly`, `capped_4k`, in the request payload.

        #### How it works

        1. Send a PATCH request to this endpoint, replacing `{mediaId}` with the media ID.

        2. Provide the desired `mp4Support` value in the request body.

        3. Receive a response confirming the update, including the media's updated MP4 support status.

        #### MP4 Support Options

        - `none` – MP4 support is disabled for this media.

        - `capped_4k` – The media will have mp4 renditions up to 4K resolution.

        - `audioOnly` – The media will generate an m4a file containing only the audio track.

        - `audioOnly,capped_4k` – The media will have both an audio-only m4a file and mp4 renditions up to 4K resolution.

        #### Webhook events

        - <a href="https://fastpix.com/docs/vod-events/transform-media-events#videomediamp4supportready">video.media.mp4Support.ready</a> – Triggered when the MP4 support setting is successfully updated.

        #### Example
        Suppose you have a video uploaded to the FastPix platform, and you want to allow users to download the video in MP4 format. By setting "mp4Support": "capped_4k", the system will generate an MP4 rendition of the video up to 4K resolution, making it available for download via the stream URL(`https://stream.fastpix.com/{playbackId}/{capped-4k.mp4 | audio.m4a}`).
        If you want users to stream only the audio from the media file, you can set "mp4Support": "audioOnly". This will provide an audio-only stream URL that allows users to listen to the media without video.
        By setting "mp4Support": "audioOnly,capped_4k", both options will be enabled. Users will be able to download the MP4 video and also stream just the audio version of the media.


        Related guide: <a href="https://fastpix.com/docs/playback-and-delivery/enable-mp4-support-for-offline-viewing">Use MP4 support for offline viewing</a>
      operationId: updated-mp4Support
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
          description: |
            When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mp4Support:
                  type: string
                  example: capped_4k
                  enum:
                    - none
                    - capped_4k
                    - audioOnly
                    - audioOnly,capped_4k
                  description: "Determines the type of MP4 support for the media.   - **none**: Disables MP4 support.   - **capped_4k**: Enables MP4 downloads with resolutions up to 4K.   - **audioOnly**: Provides an MP4 stream containing only the audio.   - **audioOnly,capped_4k**: Enables both MP4 video downloads (up to 4K) and an audio-only stream.  "
              example:
                mp4Support: capped_4k
      responses:
        "200":
          description: Media details updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    $ref: "#/components/schemas/Media"
                example:
                  success: true
                  data:
                    thumbnail: https://venus-images.fastpix.dev/cf41c9f7-ece3-4efe-8d31-c6e000dc422b/thumbnail.png
                    id: eb56a668-0354-40c2-9233-f3197e1baabd
                    workspaceId: c788be40-91a5-4d2d-abf7-47398a6276a1
                    metadata:
                      key1: value1
                    maxResolution: 1080p
                    sourceResolution: 1080p
                    status: ready
                    mp4Support:
                      - type: capped_4k
                        status: ready
                        height: 1080
                        width: 1920
                        ext: mp4
                      - type: audioOnly
                        status: ready
                        ext: m4a
                    sourceAccess: true
                    playbackIds:
                      - id: cf41c9f7-ece3-4efe-8d31-c6e000dc422b
                        accessPolicy: public
                        accessRestrictions:
                          domains:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                          userAgents:
                            defaultPolicy: allow
                            allow: []
                            deny: []
                    tracks:
                      - id: 344fd5bc-82af-4d11-bc1c-785d9e6f9aef
                        type: video
                        width: 1920
                        height: 1080
                        frameRate: 30/1
                        closedCaptions: false
                    duration: "00:00:10"
                    frameRate: 30/1
                    aspectRatio: "16:9"
                    createdAt: "2024-12-06T03:47:26.489888Z"
                    updatedAt: "2024-12-06T03:47:47.593400Z"
        "400":
          description: Mp4Support value already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateMp4Support"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/input-info:
    get:
      security:
        - BasicAuth: []
      tags:
        - Manage videos
      summary: Get info of media inputs
      operationId: retrieveMediaInputInfo
      description: |
        Allows you to retrieve detailed information about the media inputs associated with a specific media item. You can use this endpoint to verify the media file's input URL, track creation status, and container format. The `mediaId` (either `uploadId` or `id`) must be provided to fetch the information. 


        #### How it works

        Upon making a `GET` request with the mediaId, FastPix returns a response with: 

        * The public storage input `url` of the uploaded media file. 

        * Information about the `tracks` associated with the media, including both video and audio tracks, indicating whether they have been successfully created. 

        * The format of the uploaded media file container (e.g., MP4, MKV). 

        This endpoint is particularly useful for ensuring that all necessary tracks (video and audio) have been correctly associated with the media during the upload or media creation process.
      parameters:
        - in: path
          name: mediaId
          description: Pass the list of the input objects used to create the media, along with applied settings.
          required: true
          schema:
            type: string
            format: uuid
            example: 4fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: Get video media input information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Demonstrates whether the request is successful or not.
                  data:
                    description: Displays the result of the request.
                    type: object
                    items:
                      type: object
                      properties:
                        configuration:
                          type: object
                          description: Represents a collection of configuration details. Each object provides specific information about a particular configuration.
                          properties:
                            url:
                              type: string
                              example: https://static.fastpix.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4
                              description: The url hosts the media file for FastPix, which needs to be download to use further.  It supports formats like MP3, MP4, MOV, MKV, or TS, and includes text tracks for subtitles/CC (SRT file/VTT file). While FastPix can handle various audio and video formats and codecs, using standard inputs can help with optimal processing speed.
                        file:
                          type: object
                          description: Contains metadata and structural details about the media file, including its container format and individual tracks.
                          properties:
                            containerFormat:
                              type: string
                              example: mp4
                              description: Holds different types of multimedia data in a single file.
                            tracks:
                              type: array
                              description: Represents the individual tracks within the media, such as video, audio, and subtitle.
                              items:
                                $ref: "#/components/schemas/Track"
                example:
                  success: true
                  data:
                    configuration:
                      url: https://static.fastpix.com/sample.mp4
                    file:
                      containerFormat: mp4
                      tracks:
                        - id: 00dad16c-555c-454a-b552-38d1ac5a26b3
                          type: audio
                          closedCaptions: false
                        - id: 6eb56a83-9a8b-47a5-94b2-cadb4458cf4d
                          type: video
                          width: 1280
                          height: 720
                          frameRate: 30/1
                          closedCaptions: false
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Get video media input information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/{mediaId}/playback-ids:
    post:
      security:
        - BasicAuth: []
      tags:
        - Playback
      summary: Create a playback ID
      description: |
        You can create a new playback ID for a specific media asset. If you have already retrieved an existing `playbackId` using the <a href="https://fastpix.com/docs/video-on-demand-api/manage-videos/get-media">Get Media by ID</a> endpoint for a media asset, you can use this endpoint to generate a new playback ID with a specified access policy. 



        If you want to create a private playback ID for a media asset that already has a public playback ID, this endpoint also allows you to do so by specifying the desired access policy. 

        #### How it works

        1. Make a `POST` request to this endpoint, replacing `<mediaId>` with the `uploadId` or `id` of the media asset. 

        2. Include the `accessPolicy` in the request body with `private` or `public` as the value. 

        3. Receive a response containing the newly created playback ID with the requested access level. 


        #### Example
        A video streaming service generates playback IDs for each media file when users request to view specific content. The playback ID is then used by the video player to stream the video.
      operationId: create-media-playback-id
      parameters:
        - in: path
          name: mediaId
          required: true
          description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
          schema:
            type: string
            format: uuid
            example: dbb8a39a-e4a5-4120-9f22-22f603f1446e
            description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
      requestBody:
        description: Request body for creating playback id for an media
        content:
          application/json:
            schema:
              type: object
              required:
                - accessPolicy
              properties:
                accessPolicy:
                  $ref: "#/components/schemas/AccessPolicy"
                accessRestrictions:
                  type: object
                  properties:
                    domains:
                      $ref: "#/components/schemas/DomainRestrictions"
                    userAgents:
                      $ref: "#/components/schemas/UserAgentRestrictions"
                drmConfigurationId:
                  type: string
                  format: uuid
                  description: DRM configuration ID (required if accessPolicy is 'drm')
                  example: 123e4567-e89b-12d3-a456-426614174000
                resolution:
                  type: string
                  enum:
                    - 480p
                    - 720p
                    - 1080p
                    - 1440p
                    - 2160p
                  description: The maximum resolution for the playback ID.
                  example: 1080p
      responses:
        "201":
          description: Playback id for an media
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                  data:
                    description: Displays the result of the request.
                    type: object
                    properties:
                      playbackIds:
                        type: array
                        items:
                          $ref: "#/components/schemas/PlaybackId"
                        description: A collection of Playback ID objects utilized for crafting HLS playback URLs.
                example:
                  success: true
                  data:
                    id: b331e0d8-bef4-4ad2-8760-757fdb2818b7
                    accessPolicy: public
                    accessRestrictions:
                      domains:
                        defaultPolicy: allow
                        allow: []
                        deny: []
                      userAgents:
                        defaultPolicy: allow
                        allow: []
                        deny: []
                    resolution: 1080p
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: media workspace relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
    delete:
      security:
        - BasicAuth: []
      tags:
        - Playback
      summary: Delete a playback ID
      description: |
        This endpoint allows you to remove a specific playback ID associated with a media asset. Deleting a `playbackId` will revoke access to the media content linked to that ID. 


        #### How it works

        1. Make a `DELETE` request to this endpoint, replacing `<mediaId>` with the unique ID of the media asset from which you want to delete the playback ID. 

        2. Specify the `playbackId` you wish to delete in the request body. 

        #### Example

        Your platform offers limited-time access to premium content. When the subscription expires, you can revoke access to the content by deleting the associated playback ID, preventing users from streaming the video further.
      operationId: delete-media-playback-id
      parameters:
        - in: path
          name: mediaId
          description: Return the universal unique identifier for media which can contain a maximum of 255 characters.
          required: true
          schema:
            type: string
            format: uuid
            example: dbb8a39a-e4a5-4120-9f22-22f603f1446e
            description: When creating the media, FastPix assigns a universally unique identifier with a maximum length of 255 characters.
        - in: query
          name: playbackId
          description: "Return the universal unique identifier for playbacks  which can contain a maximum of 255 characters. "
          required: true
          schema:
            type: string
            example: dbb8a39a-e4a5-4120-9f22-22f603f1446e
            format: uuid
            description: when creating the plyabackIds, FastPix assigns a universal unique identifier with a maximum of 255 characters.
      responses:
        "200":
          description: Deleted a Playback Id successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Demonstrates whether the request is successful or not.
                example:
                  success: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPermission"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forbidden"
        "404":
          description: Media/PlaybackId not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaOrPlaybackNotFound"
        "422":
          description: Payload Validation Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
  /on-demand/upload:
    post:
      security:
        - BasicAuth: []
      tags:
        - Input video
      summary: Upload media from device
      operationId: direct-upload-video-media
      description: |
        This endpoint enables accelerated uploads of large media files directly from your local device to FastPix for processing and storage.

        > **PLEASE NOTE**
        >
        > This version now supports uploads with no file size limitations and offers faster uploads. The previous endpoint (which had a 500MB size limit) is now deprecated. You can find details in the [changelog](https://fastpix.com/docs/changelog/release-notes).

        #### How it works

        1. Send a POST request to this endpoint with optional media settings.  

        2. The response includes an `uploadId` and a signed `url` for direct video file upload.

        3. Upload your video file to the provided `url` by making `PUT` request. The API accepts the media file from the device and uploads it to the FastPix platform. 

        4. Once uploaded, the media undergoes processing and is assigned a unique ID for tracking. Retain this `uploadId` for any future operations related to this upload. 




        After uploading, you can use the <a href="https://fastpix.com/docs/video-on-demand-api/manage-videos/get-media">Get Media by ID</a> endpoint to check the status of the uploaded media asset and see if it has transitioned to a `ready` status for playback. 

        To notify your application about the status of this API request check for the webhooks for <a href="https://fastpix.com/docs/webhooks/webhook-event-reference#media-related-events">media related events</a>.  


        #### Example

        A social media platform allows users to upload video content directly from their phones or computers. This endpoint facilitates the upload process. For example, if you are developing a video-sharing app where users can upload short clips from their mobile devices, this endpoint enables them to select a video, upload it to the platform.

        Related guide: <a href="https://fastpix.com/docs/upload-videos/upload-videos-from-device">Upload videos directly</a>
      requestBody:
        description: Request body for direct upload
        content:
          application/json:
            schema:
              type: object
              required:
                - corsOrigin
              properties:
                corsOrigin:
                  type: string
                  example: "*"
                  description: Upload media directly from a device using the URL name or enter '*' to allow all.
                pushMediaSettings:
                  title: Push Media Settings
                  type: object
                  required:
                    - accessPolicy
                  description: Configuration settings for media upload.
                  properties:
                    accessPolicy:
                      $ref: "#/components/schemas/BasicAccessPolicy"
                    startTime:
                      type: number
                      example: "0"
                      description: Start time indicates where encoding should begin within the video file, in seconds.
                    endTime:
                      type: number
                      example: "60"
                      description: End time indicates where encoding should end within the video file, in seconds.
                    inputs:
                      type: array
                      items:
                        anyOf:
                          - $ref: "#/components/schemas/VideoInput"
                          - $ref: "#/components/schemas/WatermarkInput"
                          - $ref: "#/components/schemas/AudioInput"
                          - $ref: "#/components/schemas/SubtitleInput"
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                        maxLength: 255
                      maxProperties: 10
                      example:
                        key1: value1
[...]
